.App {
  text-align: center;

	.header {
	  background-color: #222;
	  height: auto;
	  padding: 20px 20px 25px;
	  color: white;
	  	
	  	.title {
			font-size: 1.8em;
			margin-top: 0;
		}

		.menu {
			span {
				display: inline-block;
				margin: 5px 10px;
				pointer-events: all;
				border-bottom: 1px dotted transparent;
				cursor: pointer;

				&:hover {
					border-color: white;
				}
			}
		}
	}

	.searchbox {
		position: relative;
		margin-top: 20px;

		.search {
			border: 1px solid #bbb;
			padding: 10px 20px;
			font-size: 18px;
			outline: none;
			text-transform: uppercase;
			box-shadow: none;
			width: 158px;

			&::-webkit-input-placeholder {
			  text-transform: none;
			}
			&::-moz-placeholder {
			  text-transform: none;
			}
			&:-ms-input-placeholder {
			  text-transform: none;
			}
			&:-moz-placeholder {
			  text-transform: none;
			}
		}

		.suggestion-list {
			position: absolute;
			top: 43px;
			left: 50%;
			min-width: 200px;
			margin-left: -149px;
			background-color: white;

			> div {
				border: 1px solid #bbb;
				border-width: 0px 1px 1px;
				text-align: left;
				padding: 5px 10px;
				cursor: pointer;
			}
		}

		button {
			padding: 9px 10px;
			font-size: 18px;
			vertical-align: top;
		}
	}

	.product-list {
		padding: 20px;
		max-width: 480px;
		margin: 0 auto;

		> div {
		    margin: 20px 10px;
		    padding: 15px 25px;
		    border: 1px solid #ddd;
		    cursor: pointer;

		    h3, p {
		    	pointer-events: none;
		    }

		    h3 {
		    	font-size: 18px;
		    	margin: 0.2em auto 0;
		    }

		    p {
		    	font-size: 14px;
		    	margin: 0.2em auto 0.5em;
		    	transition: max-height 0.2s ease;
		    	max-height: 0;
		    	overflow-y: hidden;
		    }

		    &.description-visible p {
	    		max-height: 200px;
	    		transition-duration: 0.5s;
    		}	
		}
	}
}
